* {
    margin:0;
    padding: 0;
}
.container {
    width: 100%;
    height: 100%;
    text-justify: center;
    text-align: center;
    /* background-color:royalblue; */
}

.title{
    text-justify: left;
}
table {
    
    justify-items: center;
    align-content:center;
    margin-left: 275px;
    padding: 0;
    height: 100%;

    border: 3px solid black;
    background-color:royalblue;
}
a {
    color: black;
}

img {
    width: 150px;
    height: 150px
}